{% extends 'Survey/controlls.html.twig' %}

{% block title %}Neue Antwort{% endblock %}

{% block body %}
    <h1>Bitte geben Sie ihre Antwort ein:</h1>

    <form action="{{ digit2 }}/confirm" method="post">
        <input type="text" name="answer1"><br><br>
        <button type="submit">Absenden</button>
    </form>

{% endblock%}