<!DOCTYPE HTML>
<html>
    <head>

    </head>

    <body>
        <form action="/umfrage">
            <button type="submit">Home</button>
        </form>

        <form action="/umfrage/start">
            <button type="submit">Umfrageübersicht</button>
        </form>
    </body>
</html>
