{% extends 'Survey/index.html.twig' %}

{% block body %}{% endblock%}

{% block controlls %}
    <br>

    <form action="/umfrage">
        <button type="submit">Home</button>
    </form>

    <form action="/umfrage/start">
        <button type="submit">Umfrageübersicht</button>
    </form>

{% endblock %}