<!DOCTYPE HTML>
<html>
    <head>

    </head>

    <body>
        <form action="/umfrage/{{ digit }}/bearbeiten">
            <button type="submit">Bearbeiten</button>
        </form>

        <form action="/umfrage/{{ digit }}/statistic">
            <button type="submit">Statistik</button>
        </form>

        <form action="/umfrage">
            <button type="submit">Home</button>
        </form>

        <form action="/umfrage/start">
            <button type="submit">Umfrageübersicht</button>
        </form>

    </body>
</html>
