<!DOCTYPE HTML>
    <html>
        <head>
            <title> {% block title %}Meine Umfrage{% endblock %}</title>
        </head>
    
        <body>
            {% block body %}Hier steht etwas{% endblock %}

            {% block controlls %}
                <form action="umfrage/start">
                    <button type="submit">Umfrage starten</button>
                </form>

                <form action="umfrage/neue_kategorie">
                    <button type="submit">Neue Kategorie erstellen</button>
                </form>

                <form action="umfrage/neue_frage">
                    <button type="submit">Neue Frage erstellen</button>
                </form>
            {% endblock %}
        </body>
    </html>
