<!DOCTYPE HTML>
    <html>
        <head>
    
        </head>
    
        <body>
            <p>Hier steht etwas</p>
            <form action="umfrage/start">
                <button type="submit">Umfrage starten</button>
            </form>

            <form action="umfrage/neue_kategorie">
                <button type="submit">Neue Kategorie erstellen</button>
            </form>

            <form action="umfrage/neue_frage">
                <button type="submit">Neue Frage erstellen</button>
            </form>
        </body>
    </html>
