<!DOCTYPE HTML>
<html>
    <head>

    </head>

    <body>
        <form action="/umfrage/neue_kategorie/hinzufuegen" method="post">
            <input type="text" name="newCategory">
            <button type="submit">Absenden</button>
        </form>
    </body>
</html>
