{% extends 'Survey/index.html.twig' %}

{% block title %}Neue Kategorie{% endblock %}

{% block body %}{% endblock%}

{% block controlls %}
    <body>
        <form action="/umfrage/neue_kategorie/hinzufuegen" method="post">
            <input type="text" name="newCategory">
            <button type="submit">Absenden</button>
        </form>
    </body>
{% endblock %}


