<!DOCTYPE HTML>
<html>
    <head>
        <h1>Bitte geben Sie ihre Frage und die Anzahl der Antworten ein:</h1>
    </head>

    <body>
        <form action="/umfrage/neue_frage/start" method="post">
            <input type="text" name="question">
            <input type="text" name="answerNumber">
            <button type="submit">Absenden</button>
        </form>
    </body>
</html>
