{% extends 'Survey/controlls.html.twig' %}

{% block title %}Neue Frage{% endblock %}

{% block body %}
    <h1>Bitte geben Sie ihre Frage und die Anzahl der Antworten ein:</h1>


    <form action="/umfrage/{{ digit }}/bearbeiten/neue_frage/start" method="post">
        <label>Frage:</label><br>
        <input type="text" name="question" size="30"><br><br>
        <label>Anzahl Antworten:</label><br>
        <input type="text" name="answerNumber" size="30"><br><br>
        <button type="submit">Absenden</button>
    </form>


{% endblock%}




